*.save
*.save.?

btop/btop.log
chromium/
clipse/
Code/
dconf/
discordptb/
Electron/
godot/
gtk-3.0/
gtk-4.0/
JetBrains/
kde.org/
nnn/
obsidian/
procps/
pulse/
ranger/
session/
spotify/
twt/
VisUAL2/
vlc/
wireshark/


mimeapps.list
QtProject.conf
dolphinrc
dnoterc
