* {
  border:none;

  font-family: 'FreeMono';
  font-weight: bolder;
  font-size: 15px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';

  padding: 0px; 
  margin: 0px;
}

window#waybar {
  background: transparent;
}

window#waybar > box {
  margin: 0px;
}


@define-color bg0 rgba(0,0,0, .7);
@define-color fg0 rgba(255,255,255,1);
#workspaces, #window, #pulseaudio, #pulseaudio-slider, #backlight, #backlight-slider, #temperature, #network, #battery, #clock {
  /* border-bottom: solid 0px white; */
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  background-color: @bg0;
  color: @fg0;-
}


#workspaces{
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
#workspaces button{
  color: #F28CA3;
  margin-right: 8px;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: @bg0;
}
#workspaces button.active{
  color: black;
  background-color: #f28ca3;
}

#window {
  background-color: transparent;
  color: #EBDEE4;
}

@define-color lumiere #FCC4B3;
#backlight {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: @lumiere;
}
#backlight-slider {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 6px;
  padding-right: 12px ;
  color: @lumiere;
}
#backlight-slider highlight {
  margin: 0px;
  min-height: 0px;
  background-color: transparent;
  border-radius: 8px;
}

#backlight-slider slider {
  border-radius: 12px;
  background-image: none;
  box-shadow: none;
  min-height: 12px;
  min-width: 12px;
  background-color: @lumiere;
}
#backlight-slider trough {
  min-width: 36px;
  border-radius: 4px;
  background-color: transparent;
}


#pulseaudio {
  color: #00A6DE;
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#pulseaudio-slider {
  color: #00A6DE;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 4px;
  padding-right: 12px ;
  background-color: @bg0;
}

#pulseaudio-slider highlight {
  margin: 0px;
  min-height: 0px;
  background-color: transparent;
  border-radius: 8px;
}

#pulseaudio-slider slider {
  border-radius: 8px;
  /* box-shadow: none; */
  background-color: #00A6DE;
  background-image: none;
  box-shadow: none;
  min-height: 12px;
  min-width: 12px;
}
#pulseaudio-slider trough {
  min-width: 36px;
  /* border-radius: 4px; */
  background-color: transparent;
}






#clock {
  color: #F3D9A2;
}

#network {
  color: #F387C2;
}

#battery {
  color: #F17D93;
  margin-right: 0px;
}

#temperature {
  color: #5CBBC4;
}


#temperature.critical {
  background-color: #E55B75;
  color: black;
}







